<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos: {{ pageTitle }} {# Este hueco es para una variable#}</title> 
    <!-- Soy un comentario html {{ pageTitle }}-->
</head>
<body>
    <header>
        <p>Aplicacion Flask 1 de BZ XII </p>
        <p>
            <a href="/">Home</a> |
            <a href="/nuevo">Alta</a>
        </p>
    </header>
    <section>
        {% block pageContent%}{% endblock %}
    </section>
    <footer>
        &copy; 2022 - Todos los derechos reservados
    </footer>

</body>
</html>