{% extends "base.html" %}            
            
{% block pageContent %}
            <h1>Listado de <em>Ingresos-Gastos</em></h1>
            <h2>Un simulacro de contabilidad</h2>
            
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01-01-2022</td>
                        <td>Sueldo</td>
                        <td>+1000.00 €</td>
                    </tr>
                    <tr>
                        <td>05-01-2022</td>
                        <td>Reyes</td>
                        <td>-350.56€</td>
                    </tr>
                </tbody>
                <tr></tr>
            </table>
            <a href="/nuevo">Añadir</a>  
{% endblock %}